/*resetting rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0e2c5;
}
/* header section */
header {
  text-align: center;
  padding: 50px 0;
}
header h1 {
  font-family: "Playfair Display SC", serif;
  color: #49281a;
  margin-bottom: 20px;
  font-size: 3rem;
}
header p {
  font-family: "Lato", sans-serif;
  color: #49281a;
}
header a {
  font-family: "Lato", sans-serif;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #49281a;
  color: #f0e2c5;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  margin: 20px auto 0 auto;
}
nav {
  border: 2px solid #000;
  text-align: center;
  padding: 20px 0;
}
nav ul li {
  display: inline-block;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}
nav ul li a {
  color: #49281a;
  text-decoration: none;
}
.container {
  /*width:900px;
height:300px;
border:1px solid #000;
margin:20px auto;*/
  background-image: url(images/coffee.jpg);
  background-position: center;
  background-size: cover;
  background-color: #49281a;
  height: 350px;
  /* color:#f0e2c5;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content h1 {
  font-size: 4rem;
  color: #f0e2c5;
  text-align: center;
  background-color: transparent;
}
.content p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #f0e2c5;
  background-color: transparent;
}
.content {
  background-color: transparent;
}

/* our menu section */
#our-menu,
#about-us,
#contact,
footer {
  /* border:2px solid #000;*/
  width: 80%;
  margin: 20px auto;
}
#our-menu h2,
#about-us h2,
#contact h2 {
  font-family: "Playfair Display SC", serif;
  color: #f0e2c5;
  margin-bottom: 20px;
}
.menu-list {
  /*border:2px solid #000;*/
  text-align: center;
  margin-top: 20px;
}
.menu-list h3 {
  font-family: "Playfair Display SC", serif;
  color: #49281a;
  margin-bottom: 20px;
  text-align: left;
}
.card {
  border: 1px solid #000;
  width: 240px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  color: #49281a;
  display: inline-block;
}
.card-img-top {
  max-width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.card-body {
  text-align: center;
}
.card-title {
  background-color: cyan;
  padding: 10px 0;
}
.card-text {
  line-height: 1.5rem;
  margin: 10px 0;
}
.btn {
  background-color: #49281a;
  color: #f0e2c5;
  border: none;
  width: 100%;
  padding: 10px 0;
  border-radius: 0px 0px 5px 5px;
}

/* about us section */
#about-us p,
#contact p {
  font-family: "Lato", sans-serif;
  padding: 5px;
  text-align: justify;
  line-height: 1.5;
}
/* contact section */
form div {
  margin-bottom: 20px;
  font-family: "Loto", sans-serif;
}
.form-label {
  /* border: 1px solid #000; */
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
.form-control {
  /* display: inline-block; */
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px dotted #49281a;
}
.btnSubmit {
  margin-left: 160px;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  background-color: #49281a;
  color: #f0e2c5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* footer section*/
footer {
  text-align: center;
  font-family: "Loto", sans-serif;
}
footer p {
  font-size: 0.9rem;
}
